{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": false,
        "targets": "> 0.5%, last 2 versions, not dead"
      }
    ]
  ],
  "sourceType": "unambiguous"
}
